<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
            {% stylesheets 'bundles/event/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascript %}
        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <!-- Flash messages start -->
        {% if app.session.flashbag.has('success') %}
            <div class="alert alert-success">
                {% for msg in app.session.flashBag.get('success') %}
                    {{ msg }}
                {% endfor %}
            </div>
        {% endif %}
        <!-- Flash messages end -->
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
